h1{
    text-align: center;
    text-shadow: 5px 4px 16px;

}
  .text{
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
  }
 
    
 .sideby{
    display: flex;
    gap: 20px;
    align-items: center;
 position: relative;
 left: 400px;
 }  

.hemisphere {
    width: 200px;
    height: 100px;
  border: 6px solid rgb(65, 191, 65);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    box-shadow: 4px 5px 25px  rgb(65, 191, 65);
 margin: 50px;


  }
  .round-rectangle{
    width: 200px;
    height: 90px;
    border:  6px solid rgb(143, 52, 67);
    border-radius: 15px;
    box-shadow: 4px 5px 25px rgb(143, 52, 67);
    margin-top: 20px;

  }
  .bullet{
    width: 200px;
    height: 90px;
    border:  6px solid rgb(210, 65, 90);
    border-top-left-radius:15px ;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 4px 5px 25px rgb(210, 65, 90);
    margin-left: 50px;
  }
  .leaf {
    width: 200px;
    height: 100px;
   border: 6px solid green;
 border-top-right-radius: 100px;
border-bottom-left-radius: 100px;
margin-left: 30px;
box-shadow: 4px 5px 25px green;
margin-left: 100px;

  }